{% extends "template.html" %}
{% block content %}
    <div class="row">
        <div class="col-4">
            <form  action="example.php" method="post">
                <input  autocomplete="off" class="form-control form-control-lg datepicker min" placeholder="fecha inicial" />
                <input  autocomplete="off" class="form-control form-control-lg datepicker max" placeholder="fecha final" />
            </form>
            <table id="data_udis" style="width:100%">
                <tr>
                  <th colspan="2"><center>UDIS</center></th>
                </tr>
                <tr>
                  <td>MIN</td>
                  <td></td>
                </tr>
                <tr>
                    <td>MAX</td>
                    <td></td>
                  </tr>
              </table>
              <table id="data_dolar" style="width:100%">
                <tr>
                  <th colspan="2"><center>DOLAR</center></th>
                </tr>
                <tr>
                    <td>MIN</td>
                    <td></td>
                </tr>
                <tr>
                    <td>MAX</td>
                    <td></td>
                  </tr>
              </table>
        </div>
        <div class="col-4">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class="col-4">
            <canvas id="myChart2" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <canvas id="myChart3" width="400" height="400"></canvas>
        </div>
        <div class="col-6">
            <canvas id="myChart3" width="400" height="400"></canvas>
        </div>
    </div>
{% endblock %}